
/* header */
.header {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contenedor_petcar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.header_pet{
  width: 50px;
  filter: invert(100%);
}
.btn_tienda{
  background-color: transparent;
  border: none;
}
.header_carrito{
  width: 90px;
  filter: invert(100%);
}
.info_productos{
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #fff;
  margin: 20px;
}

/* fin header */
/*Modal carrito*/
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) ;
  width: 90%;
  height: 90%;
  background: #000;
  background: linear-gradient(135deg, #0D0D2B, #4B0082);
  display: flex;
  flex-direction: column;
}
.carrito_compras{
  overflow: auto; 
  margin: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: nowrap;
}
.contenedor_carrito{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin-top: 20px;

}

.overlay_carrito{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.card_modal{
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-around;
}

.img_producto{
  width: 250px;
  height: 200px;
  background-color: #fff;
}

.contenedor_pago{
  border: solid #fff 2px;
  display: flex;
  justify-content: space-around;
  height: 200px;
  padding: 20px;
}

.total_valor_carrito{
  border: solid #fff 2px;
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton_pagar{
  width: 100px;
  height: 80px;
}
/* Fin modal*/
/* productos */ 

.contenedor_productos{
  border: solid #fff 4px;
  width: 92%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 20px;
  justify-content: center;
}

/* Limpieza */

.contenedor_limpieza{
  border: solid #fff 4px;
  height: 250px; 
  width: 95%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.slider{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.contenedor_icon_button{
  width: 68px;
  margin: 10px;
  background-color: transparent;
  border: none;
}


.contenedor_icon_button img{
  width: 100%;
  filter: invert(100%);
}
.contenedor_icon_button .pre-btn{
  transform: rotate(180deg);
}


.card-item {
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 20px;
  margin: 10px;
  position: relative;
}
.card-item  img{
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: solid #000 3px;
}
/* fin limpieza */

.card-contenido:hover{
  opacity: 0;
}
.card-item:hover {
  background-color: #000;

}

.bton_card {
  position: absolute;
  bottom: 10px;  /* Coloca los botones en la parte inferior */
  left: 50%;
  transform: translateX(-50%); /* Centrar horizontalmente */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.bton_card.buy {
  bottom: 70%; /* Ajusta la posición del primer botón */
  background-color: #076904;
}
.bton_card.info{
  background-color: #1163ce;
  bottom: 25%;
}
.card-item:hover .bton_card {
  opacity: 1;
}